.image-welcome {
  border-radius: 30px;
  /* width: 100%; */
}
.card-list{
  list-style: none;
}
/* .home-container{
  background: brown;
  background-color: coral;
  height: 40%;
  border: 4px solid blue;
} */