.footer {
  margin-top: auto;
  text-align: center;
  min-height: 2rem;
  padding: 0.7rem 0 0.2rem 0;
  font-size: 0.8rem;
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(107,207,199);
}
