.form-container{
  border: 2px solid rgb(107,207,199);
  border-radius: 10px;
  margin-top: 10%;
  padding: 5%;
  display: flex;
  flex-direction: column;
} 

.input-date{
  margin-bottom: 20px;
}

.input-select{
  margin-bottom: 20px;
  width: 100%;
  border-radius: 1rem; 
  height: 1.8rem; 
  border: 2px solid black;
  padding-left: 10px;
}

.input-amount{
  margin-bottom: 20px;
  width: 95%;
                           
}
.input-text{
  width: 95%;

}